<div class="container text-center">
  <div class="display-6 my-2">
    Cadastro de Clientes:
  </div>
 <div class="border rounded shadow-sm p-4">
  <form [formGroup]="clientForm" #ngClientForm="ngForm">
    <div class="row">
        <div class="col-8 m-auto">
            <div class="mb-3">
                <label for="name" class="form-label">Nome: </label>
                <input type="text" class="form-control" id="name" placeholder="Nome" formControlName="name">
                <div *ngIf="ngClientForm.submitted" class="text-start">
                  <small *ngIf="cfName?.errors?.['required']" class="form-text text-danger"><sup>*</sup>Nome obrigatório!</small>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="phone" class="form-label">Telefone: </label>
                        <input type="text" class="form-control" id="phone" placeholder="Telefone" formControlName="phone">
                    </div>
                    <div *ngIf="ngClientForm.submitted" class="text-start">
                      <small *ngIf="cfPhone?.errors?.['required']" class="form-text text-danger"><sup>*</sup>Telefone obrigatório!</small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="dateOfBirth" class="form-label">Data de Nascimento:</label>
                        <input type="date" class="form-control" id="dateOfBirth" placeholder="Data de nascimentoe"
                            formControlName="dateOfBirth">
                    </div>
                    <div *ngIf="ngClientForm.submitted" class="text-start">
                      <small *ngIf="cfDateOfBirth?.errors?.['required']" class="form-text text-danger"><sup>*</sup>Data de nascimento obrigatória!</small>
                    </div>
                </div>
                <div class="mb-3">
                  <label for="comments" class="form-label">Comentários: </label>
                  <input type="text" class="form-control" id="comments" placeholder="Comentários" formControlName="comments">
               </div>
            </div>
            <div class="mb-3 text-end">
                <button class="btn btn-danger me-1" (click)="cancel()">Cancelar</button>
                <button class="btn btn-primary" [disabled]="!clientForm.dirty" (click)="save()" id="btnSalvar">Salvar</button>
            </div>
        </div>
    </div>
</form>
 </div>
