<div class="container text-center">
    <div class="row">
      <div class="display-6 my-2">Fazer um agendamento:</div>
      <div class="col-6 border rounded shadow-sm p-4">
          <app-form-create-appointment
          [areas]="areas"
          [appointmentTypes]="appointmentTypes"
          [professionals]="professionalsByArea"
          [searchClients]="searchClients"

          (selectedAreaEvent)="onSelectedArea($event)"
          (selectedProfessionalEvent)="onSelectedProfessional($event)"

          ></app-form-create-appointment>
      </div>
      <div class="col-6 border rounded shadow-sm p-4">
          <app-calendar
              [calendarMonth]="calendarMonth"
              [availableDays]="availableDays"
              (changedMonthEvent)="onChangedMonth($event)"
              (selectedDateEvent)="onSelectedDate($event)"
          ></app-calendar>
         <app-time
            [times]="availableTimes"
            (selectedTimeEvent)="onSelectedTime($event)"
         >

         </app-time>
      </div>
    </div>
    <div class="d-grid gap-2 mt-2 px-5">
      <button type="button" class="btn btn-primary shadow-sm" type="button" data-bs-toggle="modal" data-bs-target="#confirmModal" (click)="createAppointment()">Agendar</button>
    </div>
  </div>
